<!--div class="container">
  <div class="row">
    <app-panel>
      <h1 class="title">Bonjour</h1>
      <p class="body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatem dignissimos magnam adipisci ea, at quaerat accusantium provident rerum officiis quasi, vitae neque sapiente! Neque quae porro vero repellat alias.
      </p>
    </app-panel>
    <app-panel>
      <h1 class="title">MMSP</h1>
      <div class="body">
        <ul class="list-group">
          <li class="list-group-item active">Active item</li>
          <li class="list-group-item">Item</li>
          <li class="list-group-item disabled">Disabled item</li>
        </ul>
      </div>
    </app-panel>
  </div>
</div-->

<div class="container">
  <div class="row">
    <app-posts></app-posts>
  </div>
</div>

<div class="container">
  <div class="row">
    <app-courses></app-courses>
  </div>
</div>
